section{
    /*display:grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows:1fr 1fr 1fr 1fr 1fr;*/
    width:26rem;
    margin-left: auto;
    margin-right: auto;
    border: black 1px solid;
}
button {
    width: 6rem;
    height: 2rem;
    margin-left: auto;
    background-color: aqua;
    border-radius: 1rem;
}
input {
    width:19rem;
    height: 2rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#btnDivide{
    grid-column-start: 2;
    grid-row-start: 5;
}
#btn1{
    grid-column-start: 4;
    grid-row-start: 2;
}